.andinet    
        {
        font-family: Helvetica,Areal, sans-serif,"avant Grade","century Gothic";
        height: 20px;
        float:left;
        border:1px solid black;
        padding:5px;
        margin:5px;
        }
#hot
  {
  float: left;
  font-family:Verdana;
  color:blue;
  font-size: 25px;
  list-style-image: url("https://mdn.mozillademos.org/files/11981/starsolid.gif");}

#gebre{
      color:#808000;
      font-weight: bold;
      text-align: left;
      text-align: justify;
      }
.cardib{
        text-decoration: underline;
        color:blue;font-style: italic;
        }
main
    {
    background-color:skyblue;
    text-align: justify;
    border:1px solid black;
    padding:5px;
    margin:5px;
    text-align:left;
    color:maroon;
    font-size: 21px;
    }
#abbi
    {color:blue;
     text-decoration: underline;
    }
h1
  {
  color:blue;
  font-size: 40px;
  font-family: fantasy;
  }
#c4
    {
    font-family: AppleGothi;
    text-align: left;
    text-transform: uppercase;
    font-size: 23px;
    }
#c2
   {text-align: left;
   }
.dualipa
        {
          font-family:Copperplate, "Copperplate Gothic Light", fantasy; 
        font-style: italic;
        font-weight: bold;
        color:green;
        }
footer
     {
      background-color:#FFBD47;
      border:1px solid pink;
      text-align:center;
      font-size: small;
      }

.top,.bottom
            {
            height: 100%;width: 100%;
            }
.asglove
       {
        text-align: center;
       }
header{
      border: 1px solid black;
      padding:0px;
      margin: 0px;
      text-align: center;
      }
#cpy    
  {
    text-align: center;
  }
#inpt
  {
  text-align: left;
  }
#contactas
{
  text-align: left;
}

.ctacts
        {
          text-align: justify;
        }
     
nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #BFD641;
        }

     ul li {
           float: left;
           }
      ul li a 
            {
            display: block;
            color:  brown;
            text-align: center;
            padding: 40px 25px;
            text-decoration: none;
             font-size: 30px;
             }

      li a:hover {
                 background-color: green;}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
   }

.fa:hover 
        {
        opacity: 0.7;
        }

.fa-facebook 
           {
           background: #3B5998;
           color: white;
           }

.fa-twitter {
            background: #55ACEE;
             color: white;
            }

.fa-google {
           background: #dd4b39;
           color: white;
           }

.fa-linkedin 
             {
             background: #007bb5;
             color: white;
}

.fa-youtube {
             background: #bb0000;
             color: white;
            }
.fa-skype {
          background: #00aff0;
           color: white;
          }

@keyframes cf3FadeInOut {
  0% {
  opacity:1;
}
45% {
opacity:1;
}
55% {
opacity:0;
}
100% {
opacity:0;
}
}

#cf3 img.top {
animation-name: cf3FadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 10s;
animation-direction: alternate;
}
header {
    background-color: gold;
    -webkit-animation-name: example; 
    -webkit-animation-duration: 1s;
    animation-name: example;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}
@keyframes example {
    0%   {background-color: purple;}
    25%  {background-color: silver;}
    50%  {background-color: skyblue;}
    20% {background-color: #808000;}
    50% {background-color: grey;}
    30% {background-color: #00FFFF;}
    15% {background-color: MAGENTA;}
    13% {background-color: Pink;}
}


